
/*header*/

.header {
    padding-top: 0;
    border-bottom: 1px solid #ECECEC;
}


.header .container {
    display: flex;
    align-items: center;
}

/*logo*/

.header__logo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;

&-color{
    color: var(--main-color);
}
// @media screen and (max-width: 767px) {
//     display: none;
//  } 
 @media screen and (max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;
    margin: 0;
    }
@media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 24px;
    line-height: 1.17;
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 0;
    margin-right: auto;
 }   
}
/*contact link*/

.header-nav__list {
    display: flex;
    
}
.header-nav-all {
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    

.header-nav__items {
    display: block;
      &:not(:last-child) {
        @media screen and (min-width: 768px){
            margin-right: 50px;
        }
        
    } 

}

.header-nav__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus, 
    &.current {
    color: var(--main-color);
    }
    &.current::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    left: 0;
    bottom: 0;
    background-color: var(--main-color);
    transition-duration: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    }
    @media screen and (max-width: 767px) {
        display: none;
        }
}
}
/* .nav-contact-list {
    display: flex;
    margin-left: auto;
} */
.header-contact {
    // display: flex;
    // margin-left: auto;
    // &__items:not(:last-child) {
    //     margin-right: 50px;
    // }
    @media screen and (max-width: 1199px) {  
        margin-left: 84px;
        }
        @media screen and (min-width: 1200px) {  
        display: flex;
        margin-left: 305px;
        align-items: center;
        justify-content: center;
        
        }
}


.header-contact__items {
    display: block;
    @media screen and (max-width: 1199px) {
    &:not(:last-child){
        margin-bottom: 10px;
    }}
    @media screen and (min-width: 1200px) {
        &:not(:last-child){
            margin-right: 30px;
        }}
    @media screen and (max-width: 767px) {
            display: none;
            }    
}


.header-contact__mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-link-color);
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    color: var(--main-color);
}
    &-icon {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
    vertical-align: middle;
}
}

.header-contact__tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-link-color);
    display:inline;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, 
    &:focus{
        color: var(--main-color);
    }
    &-icon {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
    vertical-align: middle;
    }
}
